<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header" id="header">
    <img src="/resources/core/img/header.png" usemap="#headerMap" draggable="false" id="headerImage" alt="Background image for header">
    <map name="headerMap">
        <area target="" alt="Home" title="Home" href="/core/" coords="249, 166, 4, 122" shape="rect">
        <th:block th:each="link : ${headerLinksToPositions.keySet()}">
            <area target="" th:alt="${link.getDisplayText()}" th:title="${link.getDisplayText()}" th:href="${link.getRedirect()}"
                  th:coords="${headerLinksToPositions.get(link)[0]} + ',' + ${headerLinksToPositions.get(link)[1]} + ',' + ${headerLinksToPositions.get(link)[0] + link.getWidth()} + ',' + ${headerLinksToPositions.get(link)[1] + link.getHeight()}" shape="rect">
        </th:block>
    </map>

    <div id="fakeImageMapLinksParent">
        <!-- 800x175px canvas -->
        <!-- offset with the left and top vars -->
        <!-- Get the size with Chrome dev tools(ceil) and create area on #headerMap; adjust as needed -->
        <th:block th:each="link : ${headerLinksToPositions.keySet()}">
            <p class="fakeImageMapText" th:text="${link.getDisplayText()}" th:style="'left: ' + ${headerLinksToPositions.get(link)[0]} + 'px; top: ' + ${headerLinksToPositions.get(link)[1]} + 'px;'">Login</p>
        </th:block>
    </div>
</header>
</body>
</html>