<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="main">
    <meta charset="UTF-8">
    <meta name='viewport' content='width=800' >
    <meta name="msapplication-TileColor" content="#ffca71">
    <meta name="msapplication-TileImage" th:content="@{/resources/core/img/favicon/android-chrome-512x512.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/resources/core/img/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/x-icon" th:href="@{/resources/core/img/favicon/favicon.ico}">
    <link rel="stylesheet" th:href="@{/resources/core/css/theme.css}">
    <link rel="stylesheet" th:href="@{/resources/core/css/main.css}">
    <link rel="stylesheet" th:href="@{/resources/core/css/header.css}">
    <link rel="stylesheet" th:href="@{/resources/core/css/footer.css}">
    <noscript><style>.jsOnly{display: none;}</style></noscript>
</th:block>
</html>