<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="main">
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0' >
    <link rel="stylesheet" th:href="@{/resources/core/css/theme.css}">
    <link rel="stylesheet" th:href="@{/resources/core/css/main.css}">
    <link rel="stylesheet" th:href="@{/resources/core/css/header.css}">
    <link rel="stylesheet" th:href="@{/resources/core/css/footer.css}">
    <noscript><style>.jsOnly{display: none;}</style></noscript>
    <!-- Google tag (gtag.js) TODO: Load info from properties -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6H1WZMSEM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Y6H1WZMSEM');
    </script>
</th:block>
</html>