<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/core/fragments/main.html :: main}"></th:block>
    <th:block th:replace="~{/blog/fragments/main.html :: main}"></th:block>
    <link rel="stylesheet" th:href="@{/resources/blog/css/makePost.css}">
    <title>Blog - Make Post</title>
</head>
<body>
<div th:replace="~{/core/fragments/header.html :: header}"></div>
<div th:replace="~{/blog/fragments/header.html :: header}"></div>

<form id="makePostForm" method="POST" enctype="multipart/form-data" th:action="@{/blog/makePost}" th:object="${formPojo}">
    <div>
        <label for="titleHtml">HTML Title: </label>
        <input id="titleHtml" type="text" minlength="3" maxlength="256" th:field="*{titleHtml}"/>
    </div>
    <div>
        <label for="titlePlaintext">Plaintext Title: </label>
        <input id="titlePlaintext" type="text" minlength="3" maxlength="256" th:field="*{titlePlaintext}"/>
    </div>
    <div>
        <label for="tags">Tags <pre style="font-size: 0.5em; display: inline;">(separated by ,)</pre>: </label>
        <input id="tags" type="text" th:field="*{tags}">
    </div>
    <div>
        <label for="postIndex">Index file: </label>
        <input id="postIndex" type="file" th:field="*{index}">
    </div>
    <div>
        <label for="postAssets">Index file: </label>
        <input id="postAssets" type="file" multiple th:field="*{assets}">
    </div>
    <div>
        <label for="makePostFormSubmit">Submit: </label>
        <input id="makePostFormSubmit" type="submit" value="Make Post">
    </div>
</form>

<div th:replace="~{/blog/fragments/footer.html :: footer}"></div>
<div th:replace="~{/core/fragments/footer.html :: footer}"></div>
</body>
</html>