<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{core/fragments/main.html :: main}"></div>
    <link rel="stylesheet" th:href="@{/resources/about/css/home.css}">
    <title>About me</title>
</head>
<body>
<div th:replace="~{core/fragments/header.html :: header}"></div>

<div id="profileCard">
    <div class="left">
        <div id="profileCardPfpContainer">
            <img id="profileCardPfp" th:src="@{/resources/about/img/icon 1.png}" alt="Picture of one of site owner's characters" />
        </div>
    </div>
    <div class="right">
        <div id="profileCardDetailsContainer">
            <p>
            Hello! 👋
            </p>
            <p>
            I'm Bannock, a self-taught Java developer and engineer. I mainly work IT at the moment, but appreciate homebrewing and the study of mycology in my free time.
            </p>

            <p>
                This is my website. I built it using Spring Boot. I also implemented log aggregation, observability, and tracing using Loki, Grafana, and Zipkin. I built this for desktop. Not sorry if you're on your phone.
            </p>

            <div>
                If you wish to reach me, feel free to use the following:
                <ul>
                    <li>Discord: DistastefulBannock#1004 (991790802705600592)</li>
                    <li><a class="profileCardStyledLink" href="https://github.com/DistastefulBannock">Github</a></li>
                    <li><a class="profileCardStyledLink" href="https://steamcommunity.com/id/DistastefulBannock/">Steam</a></li>
                    <li><a class="profileCardStyledLink" href="https://t.me/DistastefulBannock">Telegram</a></li>
                    <li>admin@bannock.me</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr style="border-color: var(--tertiary)"/>
<div>
    <h3 style="margin: 0;">My PGP key:</h3>
    <p style="margin: 0;">Fingerprint: 18C8 1F35 F445 125F 01A1 934D 0CA2 6C3F 6EB0 DF9D</p>
    <p style="white-space: pre-wrap; margin: 0;">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEab98NhYJKwYBBAHaRw8BAQdAx327stBjCgNm3uEwECpjDfddX0eQrk31c5Vc
E0gNHfq0GkJhbm5vY2sgPGFkbWluQGJhbm5vY2subWU+iJYEExYIAD4WIQQYyB81
9EUSXwGhk00Momw/brDfnQUCab98NgIbAwUJA8ROSgULCQgHAgYVCgkICwIEFgID
AQIeAQIXgAAKCRAMomw/brDfneptAP0bLYrkRromk7h+IAcjZEglaFJ/D1oNz6km
74conRhQEAEAt317xnfeFOnQpYqdeWXDXeae7AcnjckLj2QE/iXI9Aq4OARpv3w2
EgorBgEEAZdVAQUBAQdA4wUcHBLUaqRfKjm7f8k4YwOOAcyA2Paubl6IbcQNW3gD
AQgHiH0EGBYIACYWIQQYyB819EUSXwGhk00Momw/brDfnQUCab98NgIbDAUJA8RO
SgAKCRAMomw/brDfnWJiAPiwnkJiZ2iS+Xay0JPq6WjDO9JetWMK2NTkgyVOmfUo
AP9+U37KNFZH3IIwU0RL0ctjXrCvkMuzMxlrDbaNuhMfAQ==
=yCoM
-----END PGP PUBLIC KEY BLOCK-----
    </p>
</div>

<div th:replace="~{core/fragments/footer.html :: footer}"></div>
</body>
</html>